.container
  .row
    .col-xs-12
      .pull-right
        = link_to "Tasks", custom_tasks_path, class: "btn btn-success"
  .row
    %h2 Activities
    - if @activities.count < 1
      Sorry You dont have any activity to list
    - else
      .table.table-hover
        .thead
          .tr
            .th Description
            .th Date
            .th Duration
        .tbody
          - @activities.each do |activity|
            .td activity.description
            .td activity.date
            .td activity.duration