.row
  .col-xs-12.pull-right
    = link_to "Tasks", tasks_path, class: "btn btn-sucesss"
.row
- if @activites.size < 1
  Sorry You dont have any activity to list
- else
  .table.table-hover
   .thead
     .tr
       .th Description
       .th Date
       .th Duration
   .tbody
    - @activities.each do |activity|
      .td activity.description
      .td activity.date
      .td activity.duration